html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/RobotoRegular.woff2'),
    url('../assets/fonts/RobotoRegular.woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/RobotoMedium.woff2'),
    url('../assets/fonts/RobotoMedium.woff');
  font-display: swap;
  font-weight: 500;
}

:root {
  --main-color: #4c5866;
  --border-color: #ddd;
  --text-color: #85859b;
  --accent-color: #d792e2;
  --bg-color: #f5e9e9;
  --dove-gray-color: #666;
  --active-color: #b4468a;
}

body {
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 60px;
  line-height: 100%;
  color: var(--main-color);
}

.descr {
  margin: 0;
  font-size: 18px;
  line-height: 150%;
  color: var(--text-color);
}

.link {
  display: inline-block;
  border: 1px solid currentColor;
  padding: 22px 89px;
  font-size: 20px;
  line-height: 23px;
  color: var(--accent-color);
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.link:focus {
  outline: none;
}

.link:hover {
  color: #fff;
  background-color: var(--accent-color);
}

.link:active {
  border-color: var(--active-color);
  color: #fff;
  background-color: var(--active-color);
}

.section {
  padding: 60px 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

/* *** header *** */ 

.header {
  border-bottom: 1px solid var(--border-color);
  padding: 27px 0;
}

.header__content {
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  width: 90px;
  height: 35px;
}

.nav__list {
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 60px;
}

.nav__link {
  position: relative;
  z-index: 1;
  font-size: 20px;
  line-height: 23px;
  color: var(--main-color);
  transition: color 0.3s ease-in-out;
}

.nav__link:focus {
  outline: none;
}

.nav__link:hover {
  color: var(--accent-color);
}

.nav__link:active {
  color: var(--active-color);
}

/* *** hero *** */ 

.hero__content {
  padding-top: 90px;
}

.hero__descr {
  margin-bottom: 33px;
}

/* *** contacts *** */ 

.contacts {
  background-color: var(--bg-color);
}

.contacts__item {
  border-top: 1px solid #c0c0c0;
  padding: 37px 0;
  padding-left: 170px;
  background-position: left center;
  background-size: 160px 118px;
  background-repeat: no-repeat;
}

.contacts__item--v1 {
  background-image: url("../assets/img/icons-email.svg");
}

.contacts__item--v2 {
  background-image: url("../assets/img/icons-telegram.svg");
}

.contacts__item--v3 {
  background-image: url("../assets/img/icons-discord.svg");
}

.contacts__caption {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: var(--dove-gray-color);
}

.contacts__descr:hover {
  color: var(--accent-color);
}

.contacts__descr:active {
  color: var(--active-color);
}

/* *** About_me *** */ 

.about_me__list {
  margin-left: -15px;
  margin-right: -15px;
}

.about_me__item {
  height: 100%;
}

.about-item {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.about-item__image {
  margin-bottom: 20px;
}

.about-item__title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  color: var(--dove-gray-color);
}

.about-item__descr {
  margin-bottom: 20px;
  line-height: 170%;
}

.about-item__link {
  position: relative;
  margin-top: auto;
  font-size: 20px;
  line-height: 23px;
  color: var(--accent-color);
  transition: color 0.3s ease-in-out;
}

.about-item__link::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -6px;
  top: -6px;
  right: -6px;
  bottom: -6px;
  background-color: #dad9fb;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.about-item__link svg {
  fill: currentColor;
}

.about-item__link:focus {
  outline: none;
}

.about-item__link.focus-visible:after {
  opacity: 1;
}

.about-item__link:hover {
  color: var(--active-color);
}

.about-item__link:active {
  color: var(--active-color);
}

/* *** skills *** */ 

.skills {
  background-color: var(--bg-color);
}

.skills__list {
  margin-right: -15px;
  margin-left: -15px;
}

.skills__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c4c4c4;
  height: 135px;
}

.skills__item img {
  max-width: 90%;
  max-height: 90%;
  object-fit: cover;
}

/* *** footer *** */ 

.footer__top {
  padding: 27px 0;
  background-color: var(--main-color);
}

.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.social__item:not(:last-child) {
  margin-right: 30px;
}

.social__link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.social__link svg {
  position: relative;
  z-index: 1;
  fill: currentColor;
}

.social__link:focus {
  outline: none;
}

.social__link:hover {
  color: var(--active-color);
}

.social__link:active {
  color: var(--accent-color);
}

.footer__copy {
  padding: 3px 0;
  width: 100%;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: center;
  color: var(--main-color);
}

.footer__copy span {
  color: var(--active-color);
}

